@using System.Text.Json;
@model MerchantSettingsViewModel

@{
    ViewData["Title"] = "Merchant Settings";
    var message = TempData["Message"] as string;
    var messageType = TempData["MessageType"] as string;
}

<div class="tw-pt-16 tw-pb-20">
    <div class="tw-p-4 tw-pt-8 tw-grid tw-auto-rows-[42px] tw-gap-5" style="grid-template-columns: repeat(12, minmax(0, 128px));">
        <div id="salesSettingsCard" class="tw-border tw-border-gray-400 tw-rounded-[16px] tw-shadow-lg" style="grid-column: span 12/span 12; grid-row: span 13/span 13;">
            <div class="tw-w-full tw-h-full tw-mx-auto tw-my-8">
                <!-- Toast Message -->
                @if (!string.IsNullOrEmpty(message))
                {
                    <div id="toast-message" class="tw-fixed tw-top-[77px] tw-right-4 @(messageType == "Success" ? "tw-bg-green-500" : "tw-bg-red-500") tw-text-white tw-px-4 tw-py-2 tw-rounded">
                        @message
                    </div>
                }
                <div class="tw-flex tw-flex-col tw-w-full tw-p-8 tw-bg-white tw-rounded-lg">
                    <h2 class="tw-text-2xl tw-font-semibold tw-mb-4">Merchant Settings</h2>
                    <p><strong>Merchant:</strong> @Model.Merchant.Name</p>
                    <p><strong>Address:</strong> @(Model.Merchant.StreetAddress), @(Model.Merchant.City), @(Model.Merchant.State), @(Model.Merchant.Zip), @(Model.Merchant.Country)</p>
                    @using (Html.BeginForm("SaveMerchantSettings", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.SaveMerchantSettingsViewModel.MerchantId)

                        <div class="tw-mt-4">
                            @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.Name, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                            @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.Name, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "Name" })
                            @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.Name, "", new { @class = "tw-text-red-600 tw-text-sm" })
                        </div>

                        <div class="tw-mt-4">
                            @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.StreetAddress, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                            @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.StreetAddress, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "StreetAddress" })
                            @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.StreetAddress, "", new { @class = "tw-text-red-600 tw-text-sm" })
                        </div>

                        <div class="tw-mt-4">
                            @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.City, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                            @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.City, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "City" })
                            @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.City, "", new { @class = "tw-text-red-600 tw-text-sm" })
                        </div>

                        <div class="tw-mt-4">
                            @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.State, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                            @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.State, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "State" })
                            @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.State, "", new { @class = "tw-text-red-600 tw-text-sm" })
                        </div>

                        <div class="tw-mt-4 tw-grid tw-grid-cols-2 tw-gap-4">
                            <div class="tw-col-span-1">
                                @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.Zip, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                                @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.Zip, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "Zip" })
                                @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.Zip, "", new { @class = "tw-text-red-600 tw-text-sm" })
                            </div>
                            <div class="tw-col-span-1">
                                @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.Country, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                                @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.Country, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "Country" })
                                @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.Country, "", new { @class = "tw-text-red-600 tw-text-sm" })
                            </div>
                        </div>

                        <div class="tw-mt-4 tw-grid tw-grid-cols-2 tw-gap-4">
                            <div class="tw-col-span-1">
                                @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.ReceiptEmail, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                                @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.ReceiptEmail, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "ReceiptEmail" })
                                @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.ReceiptEmail, "", new { @class = "tw-text-red-600 tw-text-sm" })
                            </div>
                            <div class="tw-col-span-1">
                                @Html.LabelFor(m => m.SaveMerchantSettingsViewModel.AppPassword, new { @class = "tw-block tw-text-sm tw-font-medium tw-text-gray-700" })
                                @Html.TextBoxFor(m => m.SaveMerchantSettingsViewModel.AppPassword, new { @class = "tw-mt-1 tw-p-2 tw-w-full tw-border tw-rounded-md", id = "AppPassword" })
                                @Html.ValidationMessageFor(m => m.SaveMerchantSettingsViewModel.AppPassword, "", new { @class = "tw-text-red-600 tw-text-sm" })
                            </div>
                        </div>

                        <div class="tw-mt-4">
                            <button type="submit" class="tw-px-4 tw-py-2 tw-bg-blue-500 tw-text-white tw-rounded-md hover:tw-bg-blue-600">Save Settings</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // Remove the toast message after 5 seconds
        const toast = document.getElementById('toast-message');
        if (toast) {
            setTimeout(() => {
                document.getElementById('toast-message').remove();
            }, 5000);
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let name = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.Name));
            let streetAddress = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.StreetAddress));
            let city = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.City));
            let state = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.State));
            let zip = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.Zip));
            let country = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.Country));
            let receiptEmail = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.ReceiptEmail));
            let appPassword = @Html.Raw(JsonSerializer.Serialize(Model.Merchant.AppPassword));

            document.getElementById("Name").value = name;
            document.getElementById("StreetAddress").value = streetAddress;
            document.getElementById("City").value = city;
            document.getElementById("State").value = state;
            document.getElementById("Zip").value = zip;
            document.getElementById("Country").value = country;
            document.getElementById("ReceiptEmail").value = receiptEmail;
            document.getElementById("AppPassword").value = appPassword;
        });
    </script>
}